[url "http://"]
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Mani Srinivasan
	email = manivannan.srinivasan@capitalone.com
[core]
	excludesfile = /Users/iil351/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree 2.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	manilog = log --graph --pretty=format:\"%Creset Commited %C(auto)%h %d%Creset with msg: %s%n%Creset on %Cgreen%ad(%cr) %Creset by %C(blue)<%aN>%n\"
	ignored = !git ls-files -v | grep ^[[:lower:]]
[http "https://github.com"]
	sslVerify = false
